@font-face {
  font-family: 'Quicksand';
  src: local('Quicksand'),
    url(../../fonts/Quicksand.ttf) format('truetype');
}

@font-face {
  font-family: 'Parisienne';
  src: local('Parisienne'),
    url(../../fonts/Parisienne.ttf) format('truetype');
}

.font-cursive {
  font-family: 'Parisienne';
}

.font-standard {
  font-family: 'Quicksand';
}