.no-vertical-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.header-desktop * {
  display: 'flex';
  justify-content: center;
}

.header-link {
  color: #000;
}

.header-link p {
  font-family: 'Quicksand';
}

#root * {
  padding-left: 0;
  padding-right: 0;
}

.avif > .with-background,
.avif.no-webp > .with-background,
.avif.webp > .with-background {
  background-image: url('../resources/sardinia.avif');
}

.webp > .with-background,
.no-avif.webp > .with-background {
  background-image: url('../resources/sardinia.webp');
}

.no-avif.no-webp > .with-background {
  background-image: url('../resources/sardinia.jpeg');
}

.with-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.newline {
  white-space: pre-line;
}

.invite {
  background-image: url('../resources/paper-white.jpg');
}

.rsvp-input {
  background-color: white;
}
