.shadow-red-top-left-desktop {
  box-shadow: -40px -40px #dc6d65;
}

.shadow-red-top-left-mobile {
  box-shadow: -20px -20px #dc6d65;
}

.shadow-blue-bottom-right-desktop {
  box-shadow: 40px 40px #8dbcc0;
}

.shadow-blue-bottom-right-mobile {
  box-shadow: 20px 20px #8dbcc0;
}
