@font-face {
  font-family: 'PhotographSignature';
  src: local('PhotographSignature'), url(../fonts/PhotographSignature.ttf) format('truetype');
}

.olivia-and-marco {
  font-family: 'PhotographSignature';
}

.header-link {
  color: #000;
}

#root * {
  padding-left: 0;
  padding-right: 0;
}

